@model IEnumerable<Prontuario_do_Paciente_Online.Models.Paciente>;
@{
    ViewData["Title"] = "Pacientes Cadastrados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div class="table">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Idade</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Motivo da Internacao</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @item.Nome
                        </td>
                        <td class="align-middle">
                            @item.Idade
                        </td>
                        <td class="align-middle">
                            @item.MotivoInternacao
                        </td>
                        <td class="align-middle position-relative">
                            <div class="dropdown position-static">
                                <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ações
                                </button>
                                <div class="dropdown-menu position-absolute" style="right: 0;">
                                    <a class="dropdown-item details-button" asp-route-id="@item.Id" asp-controller="Pacientes" asp-action="Details">Detalhes</a>
                                    <a class="dropdown-item" href="#">Editar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>




