@model IEnumerable<Prontuario_do_Paciente_Online.Models.Paciente>
@{
    ViewData["Title"] = "Pacientes Cadastrados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="main-content mt-4">
        <div class="card p-4">
            <div class="title-text m-4">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Idade</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Motivo da Internacao</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="my-auto">
                                        <h3 class="mb-0 text-xs"> @item.Id</h3>
                                    </td>
                                    <td class="my-auto">
                                        <h3 class="mb-0 text-xs"> @item.Nome</h3>
                                    </td>
                                    <td class="my-auto">
                                        <h3 class="mb-0 text-xs"> @item.Idade</h3>
                                    </td>
                                    <td class="my-auto">
                                        <h3 class="mb-0 text-xs"> @item.MotivoInternacao</h3>
                                    </td>
                                    <td>
                                        <a asp-controller="pacientes" asp-action="edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Editar</a>
                                        <button type="button" class="btn btn-default btn-sm">Detalhes</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Não existe dados para serem exibidos</p>
                }
            </div>
        </div>
    </div>
</body>





